# development
black
coverage
flake8
flit
ipdb
isort
mypy
pre-commit-hooks
pytest

# docs
# it is important to freeze the version because the option -W is used for sphinx-build
sphinx=3.1.1
sphinx-material

# examples
scikit-learn
torchvision

# other
jupyterlab
